html {
  height: 100%;
  /*background: #100a1c;*/
  background-image: radial-gradient(60% 80% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 80% ellipse at center bottom, #201e40 0%, #100a1c 100%);
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(18, 50px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  width: 964;
  margin: auto;
}

.grid-item {
  height: 50px;
  width: 50px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.03); */
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 50px;
  border-radius: 25%;
  background: #5d7027;
  font-weight: 500;
  color: #D9D9D9;
}

/* sets atomic_mass size */
.mass {
  margin-bottom: 5px;
  font-size: 11px;
  position: relative;
  bottom: 8px;
}

/* sets colors for the boxes */
.b1, .b6, .b7, .b8, .b15, .b16, .b34 {
  background: #A10000;
}

.b3, .b11, .b19, .b37, .b55, .b87 {
  background: #876C4A;
}

.b4, .b12, .b20, .b38, .b56, .b88 {
  background: #A78B67;
}

.b2, .b10, .b18, .b36, .b54, .b86, .b118 {
  background: #9C0D7C;
}

.b9, .b17, .b35, .b53, .b85, .b117 {
  background: #a6ba01;
}

.b5, .b14, .b32, .b33, .b51, .b52, .b84 {
  background: #e17400;
}

.b13, .b31, .b49, .b50, .b81, .b82, .b83, .b113, .b114, .b115, .b116 {
  background: #7b7b7b;
}

.b57, .b58, .b59, .b60, .b61, .b62, .b63, .b64, .b65, .b66, .b67, .b68, .b69, .b70, .b71 {
  background-color: #B33697;
}

.b89, .b90, .b91, .b92, .b93, .b94, .b95, .b96, .b97, .b98, .b99, .b100, .b101, .b102, .b103 {
  background-color: #B35A9F;
}
